:root{
  --bg: #f3f4f6;
  --card: #ffffff;
  --text: #111827;
  --muted: #6b7280;
  --border: #e5e7eb;
  --shadow: 0 10px 30px rgba(17,24,39,0.08);
  --shadow2: 0 6px 18px rgba(17,24,39,0.08);
  --yellow: #f4c542;
  --yellow2: #f7d36a;
  --radius: 18px;
  --radius2: 24px;
  --container: 1180px;
}
